.navbar {
    background-color: rgb(40, 40, 40);
}

.dropdownButton {
    background-color: #232527;
    color: whitesmoke;
}
.dropdownIcon {
    color: whitesmoke;
}
.navbar-brand {
    float: left;
    background-color: #232527;
    padding: 1vw;
    margin-right: 0px;
    border-radius: .25rem;
}

.navbar-name {
    color: whitesmoke;
    margin-bottom: 0px;
}

.nav-item {
    margin: 5px;
}

a.navlink {
    font-size: 20px;
    color: whitesmoke;
}