.navbar {
    background-color: #111111;
}

.dropdownButton {
    background-color: #222222;
    color: #333333;
}
.dropdownIcon {
    color: whitesmoke;
}
.navbar-brand {
    float: left;
    background-color: #222222;
    padding: 1vw;
    margin-right: 0px;
    border-radius: .25rem;
}

.navbar-name {
    color: whitesmoke;
    margin-bottom: 0px;
}

.nav-item {
    margin: 5px;
}

a.navlink {
    font-size: 20px;
    color: whitesmoke;
}