.navbar {
    background-color: rgb(40, 5, 0);
}

.dropdownButton {
    background-color: rgb(20, 20, 20);
    color: white;
}
.dropdownIcon {
    color: white;
}
.navbar-brand {
    float: left;
    background-color: rgb(20, 20, 20);
    padding: 1vw;
    margin-right: 0px;
    border-radius: .25rem;
}

.navbar-name {
    color: white;
    margin-bottom: 0px;
}

.nav-item {
    margin: 5px;
}

a.navlink {
    font-size: 20px;
    color: rgb(30, 30, 30);
}