body {
    color: rgb(30, 30, 30);
    background-size: 640px;
}

h1 {
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

h2 {
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
