body {
    color: #2f2f2f;
    background-size: 640px;
}

h1 {
    color: white;
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: bold;
}

h2 {
    color: white;
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: bold;
}
