body {
    background-color: #2c2e2f;
    background-size: 640px;
}

h1 {
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

h2 {
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
p {
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}