.portfolioCard {
    display: flex;
    justify-content: space-evenly;
}

.projectCard {
    background-color:#3b3d3f;
    width: 25rem;
}

.portfolioText {
    color: whitesmoke;
}

.portImg {
    width: 358px;
    height: 180px;
}

.fa-github {
    color: whitesmoke;
}

.fa-link {
    color: whitesmoke;
}

@media screen and (max-width: 430px) {
    .portImg {
        width: 70vw;
        height: 35vw;
    }
    .projectCard {
        width: 80vw;
    }
  }