body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: whitesmoke;
}

body {
  background-color: #222222;
  background-size: 640px;
}

h1 {
  color: whitesmoke;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
}

h2 {
  color: whitesmoke;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
}
p {
  color: whitesmoke;
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
}

code {
  font-family: 'Times New Roman', Times, serif;
 
}
