body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  color: whitesmoke;
}

body {
  background-color: #222222;
  background-size: 640px;
}

p {
  color: whitesmoke;
  font-family: 'Times New Roman', Times, serif;
  font-size: 120%;
}

h1 {
  color: whitesmoke;
  font-family: 'Times New Roman', Times, serif;
  font-size: 140%;
}

h2 {
  color: whitesmoke;
  font-family: 'Times New Roman', Times, serif;
  font-size: 160%;
}

h3 {
  color: whitesmoke;
  font-family: 'Times New Roman', Times, serif;
  font-size: 300%;
}

h4{
  color: whitesmoke;
  font-family: 'Times New Roman', Times, serif;
  font-size: 340%;
}

code {
  font-family: 'Times New Roman', Times, serif;
 
}
